__pycache__/
.idea/
.venv/
__pycache__/*.py[cod]
*.pyc
test.py
compile.py
apigen.py
Makefile
dist/
nowpayment.egg-info/
main.py
# Build files
build/
*.egg-info/
*.egg

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# Environment files
.env
.venv
env/
venv/
ENV/

# IDE specific files
.vscode/
*.swp
*.swo
.DS_Store
